@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-color: #fafbfc;
}

.App{
  width: 84%;
  margin: auto;
  font-family: Roboto;
}

.Centered{
  text-align: center;
}

footer{
  margin-top: 5%;
  margin-bottom: 3%;
}