@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-color: #f9f9f9;
}

.App{
  width: 84%;
  margin: auto;
  font-family: Roboto;
}

.ConfidantHeader{
  text-align: center;
}